<header class = "jumbotron">
  <div class="header">
    <h1>Grapple</h1>
    <h3><em>You've got questions; you've got answers.</em></h3>
  </div>
</header>
<div class="navbar navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <a class="navbar-brand" href="/">Grapple</a>
     </div>
     <div class="navbar-collapse collapse">
       <ul>
       </ul>
     </div><!--/.nav-collapse -->
   </div>
 </div>
<div class="container">
  {{outlet}}
</div>
<div class="navbar navbar-fixed-bottom" role="navigation">
<div class="container">
  <div class="footer-link">
    <a href="/">Grapple</a>
  </div>
    <div class="text-center">
     © 2016 Josh Overly.
    </div>
</div>
</div>
