<div class="container index">
  <div class="welcome">
    <h2> Welcome to Grapple!</h2>
    <h4>Hard questions get posted; the brave try to answer them.  </h4>
    <h3><strong><em>Be Brave.</em></strong></h3>
  </div>
  <h2>Choose a category.</h2>

  <h3>{{#link-to 'category' 'Philosophy'}}Philosophy{{/link-to}}</h3>
  <h3>{{#link-to 'category' 'Nature'}}Nature{{/link-to}}</h3>

{{new-question saveQuestion="saveQuestion"}}
</div>
