<div class="container index">
  <div class="welcome">
    <h2> Welcome to Grapple!</h2>
    <h4>Hard questions get posted; the brave try to answer them.  </h4>
    <h3><strong><em>Be Brave.</em></strong></h3>
  </div>
  <h2>Questions:</h2>
  <ul>
    {{#each model.questions as |question|}}
    {{question-tile question=question}}
    {{/each}}
  </ul>
  {{new-question saveQuestion="saveQuestion"}}

</div>
