
<h3>Here's the rest of {{model.author}}'s question</h3>
{{edit-question question=model edit="edit"}}

{{question-details question=model destroyQuestion="destroyQuestion" deleteAnswer="deleteAnswer"}}

{{new-answer question=model saveAnswer="saveAnswer"}}
