<div class="container question">

  <h3>Here's the rest of {{model.author}}'s question</h3>

  {{question-details question=model destroyQuestion="destroyQuestion" deleteAnswer="deleteAnswer" edit="edit"}}


  {{new-answer question=model saveAnswer="saveAnswer"}}
</div>
